* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

.container-page {
  width: 1024px;
  height: 849px;
  background-color: #3B5971;
  margin: 0 auto;
  position: relative;
}
.container-page header {
  display: flex;
}
.container-page header .sapphire {
  width: 108px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 72px;
  font-size: 25px;
  font-weight: 500;
  line-height: 31.9px;
  color: #E5E5E5;
}
.container-page header .explore {
  width: 51px;
  height: 18px;
  position: absolute;
  top: 23px;
  left: 218px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.86px;
  color: #E5E5E5;
}
.container-page header .marketplace {
  width: 84px;
  height: 18px;
  position: absolute;
  top: 23px;
  left: 295px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.86px;
  color: #E5E5E5;
}
.container-page header .artist {
  width: 38px;
  height: 18px;
  position: absolute;
  top: 23px;
  left: 413px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.86px;
  color: #E5E5E5;
}
.container-page header .collection {
  width: 68px;
  height: 18px;
  position: absolute;
  top: 23px;
  left: 481px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.86px;
  color: #E5E5E5;
}
.container-page header .search {
  position: absolute;
  width: 242px;
  height: 30px;
  left: 584px;
  top: 18px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
.container-page header .search p {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.76px;
  color: #E5E5E5;
  position: absolute;
  width: 34px;
  height: 13px;
  left: 7px;
}
.container-page header .sign-in {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  color: #E5E5E5;
  width: 93px;
  height: 30px;
  left: 856px;
  top: 18px;
  background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
  border-radius: 5px;
}
.container-page .section1 .st1-1 .discover {
  position: absolute;
  width: 400px;
  height: 231px;
  left: 62px;
  top: 138px;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: #ffff;
  margin: 0;
}
.container-page .section1 .st1-1 .digital {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 62px;
  top: 381px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
.container-page .section1 .st1-1 .discover-now {
  position: absolute;
  width: 199px;
  height: 40px;
  top: 433px;
  left: 60px;
  background: linear-gradient(85.76deg, rgba(191, 196, 238, 0.0945738) -105.02%, #C367E6 10.94%, rgba(190, 206, 239, 0) 121.57%);
  border-radius: 5px;
  margin: 0;
  color: #E5E5E5;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}
.container-page .section1 .st1-1 .flex-k {
  display: flex;
}
.container-page .section1 .st1-1 .flex-k .artwork {
  width: 87px;
  position: absolute;
  left: 62px;
  top: 554px;
}
.container-page .section1 .st1-1 .flex-k .artwork .number {
  width: 100%;
  font-size: 36px;
  color: #E5E5E5;
  margin: 0;
  font-weight: 700;
}
.container-page .section1 .st1-1 .flex-k .artwork .content {
  width: 100%;
  padding-left: 3px;
  font-size: 12px;
  color: #E5E5E5;
  margin: 0;
  font-weight: 700;
}
.container-page .section1 .st1-1 .flex-k .aution {
  width: 81px;
  position: absolute;
  left: 220px;
  top: 554px;
}
.container-page .section1 .st1-1 .flex-k .aution .number {
  font-size: 36px;
  color: #E5E5E5;
  margin: 0;
  font-weight: 700;
}
.container-page .section1 .st1-1 .flex-k .aution .content {
  width: 100%;
  padding-left: 3px;
  font-size: 12px;
  color: #E5E5E5;
  margin: 0;
  font-weight: 700;
}
.container-page .section1 .st1-1 .flex-k .artist {
  width: 86px;
  position: absolute;
  left: 363px;
  top: 554px;
}
.container-page .section1 .st1-1 .flex-k .artist .number {
  font-size: 36px;
  color: #E5E5E5;
  margin: 0;
  font-weight: 700;
}
.container-page .section1 .st1-1 .flex-k .artist .content {
  width: 100%;
  padding-left: 3px;
  font-size: 12px;
  color: #E5E5E5;
  margin: 0;
  font-weight: 700;
}
.container-page .section1 .st1-2 {
  width: 404px;
  height: 494px;
  position: absolute;
  top: 125px;
  left: 551px;
  background-color: #30384D;
  border-radius: 10px;
}
.container-page .section1 .st1-2 .avatar {
  display: block;
  width: 357.28px;
  height: 370.24px;
  position: absolute;
  top: 29px;
  left: 25.72px;
}
.container-page .section1 .st1-2 p {
  position: absolute;
  top: 410px;
  left: 32px;
  margin: 0;
  color: #E5E5E5;
  font-weight: 700;
  font-size: 14px;
}
.container-page .section1 .st1-2 .img1 {
  display: block;
  width: 29px;
  height: 28px;
  position: absolute;
  top: 410px;
  left: 284px;
  border-radius: 50%;
}
.container-page .section1 .st1-2 .img2 {
  display: block;
  width: 29px;
  height: 28px;
  position: absolute;
  top: 410px;
  left: 299px;
  border-radius: 50%;
}
.container-page .section1 .st1-2 .img3 {
  display: block;
  width: 29px;
  height: 28px;
  position: absolute;
  top: 410px;
  left: 319px;
  border-radius: 50%;
}
.container-page .section1 .st1-2 .img4 {
  display: block;
  width: 29px;
  height: 28px;
  position: absolute;
  top: 410px;
  left: 334px;
  border-radius: 50%;
}
.container-page .section1 .st1-2 .img5 {
  display: block;
  width: 29px;
  height: 28px;
  position: absolute;
  top: 410px;
  left: 354px;
  border-radius: 50%;
}
.container-page .coinbase {
  display: block;
  width: 135.71px;
  height: 80px;
  position: absolute;
  top: 743px;
  left: 276px;
}
.container-page .trezor {
  display: block;
  width: 135.71px;
  height: 80px;
  position: absolute;
  top: 743px;
  left: 457px;
}
.container-page .exodus {
  display: block;
  width: 135.71px;
  height: 80px;
  position: absolute;
  top: 743px;
  left: 629px;
}
.container-page .bitgo {
  display: block;
  width: 135.71px;
  height: 80px;
  position: absolute;
  top: 743px;
  left: 825px;
}

/*# sourceMappingURL=style.css.map */
